* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.button {
    margin: 8px;
    height: 100px;
    width: 100px;
    border: solid 2px black;
    border-radius: 8px;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#orange {
    background-color: orange;
}
#pink {
    background-color: pink;
}